.cards{
  background-color:#00000082;
  padding: 10px 19px;
  border-radius: 2em;
  font-size: 0.8rem;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid white; */
  background-color: #172f2bdb;
  padding: 40px 40px;

  img {
    max-width: 200px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }

  h1{
    color: #cce2d9;
  }

  h3{
    color: #cce2d9;
  }

  p {
    max-width: 256px  ;
    color: #cce2d9;
  }
}

.projectsContainer {
  flex-direction: column;
  padding: 10px 0px;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  align-items: flex-start;
}

.projectBox {
  display: flex;
  width: 558px;
  padding: 24px 24px;
  border: 1px solid rgb(136, 228, 24);
  justify-content: center;
  flex-direction: row;
}

@media (width >=800px) {

  .projectBox {
    display: flex;
    /* width: 558px; */
    padding: 24px 24px;
    border: 1px solid rgb(136, 228, 24);
    justify-content: center;
    flex-direction: row;
  }
}

