.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 2px solid blue; */
  margin: 40px 0px;

  img {
    width: 20px;
  }

  span {
    margin: 0 0;
    /* border: 2px solid wheat;
    background-color: red; */
  }
  p{
    font-size: 1.3em;
  }
}

.skillListContainer {
  gap: 30px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  /* flex-wrap: wrap; */
  /* border: solid 1px rgb(99, 245, 50); */
}


hr {
  width: 2em;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  /* margin: 1em auto; */
}


@media (width <=800px) {
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid white; */
    padding: 1px 104px;

    p{
      font-size: 1.1em;
    }

  }

  .skillListContainer {
    display: flex;
    align-self: center;
    max-width: 62ch;
    /* border: solid 1px yellow; */
  }

  .skillone {
    border: 2px solid wheat;
  }
  


}